@use "./utils";
@import "./mixins";
@import "./_variables.scss";



%message-shared {
    border: 1px solid #ccc;
    padding: 10px;
    color: #333;
}

// backgroundColorRed

.logo {
    background-color: $background-color-green;
    @include theme(DarkGray);
    @include animation;
    font-family: utils.$PrimaryFont;

    @extend %message-shared;
}



.header {
    background-color: utils.$background-color;

    .logo {
        background-color: $background-color;
        @include theme(DarkBlue);

    }
}



.header,
.body {
    .logo {
        font-size: large;

    }
}

@import "./body";



//sass --watch "name of sass file" "name of css file"