@import "./body.scss";
@import "./mixins";

$font-size: 23px;

.header {
    .title {
        font-size: $font-size;
        @include theme(DarkRed)
    }

    &.logo {
        padding: 10px;
        left: 20px;
        // @include theme;
        @extend %equal-height;
    }


}